page-segment {
  .pets {
    margin-bottom: 16px;
  }

  .segment {
    display: flex;
    .segment-button {
      flex: 1;
      line-height: 2;
      &.active {
        background-color: #ccc;
        color: #fff;
      }
    }
  }

  .tabs {
    display: flex;
    .active {
      background-color: blue;
      color: white;
    }
  }
}
